@font-face {
    font-family: 'Escafina';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('Escafina'), local('Escafina-Medium'),
        url('/assets/fonts/escafina-webfont.woff2') format('woff2'),
        url('/assets/fonts/escafina-webfont.woff') format('woff');
}
