// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    display: grid;
    gap: 2rem;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    @include mq(lg) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        grid-template-columns: 250px 1fr;
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
}
