<header class="header" role="banner">
    <div class="header__inner">
        <a href="/" class="header__logo">
            {% include "logo.njk" %}
        </a>

        <div class="header__nav">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>