<header class="header" role="banner">
    <div class="header__banner">
        <a href="/">
            {% include "logo.njk" %}
        </a>
    </div>
    <div class="header__nav">
        {% include "navigation.njk" %}
    </div>
</header>