<header class="header" role="banner">
    <div class="header__inner">
        <a href="/" class="header__logo">
            {% include "logo.njk" %}
        </a>

        <div class="header__nav">
            {% include "navigation.njk" %}
        </div>

        <a href="{{ meta.repo }}" class="repo-link">
            <span>{% icon "github" %} on Github</span>
        </a>
    </div>
</header>