{% if post %}
    <figure class="post">
        {% if post.data.image %}
            <a href="{{ post.data.url }}">
                <img src="/assets/images/screenshots/{{ post.data.image }}" class="post__image" width="640" height="360" loading="lazy" alt="" />
            </a>
        {% endif %}
        <figcaption class="post__content">
            {{ post.templateContent | safe }}
        </figcaption>
        <a href="{{ post.data.url }}" class="post__link">{{ post.data.title }}</a>
    </figure>
{% endif %}