.header {
    text-align: center;

    &__logo {
        display: block;
        color: $brand-brown !important;
        margin-bottom: 1rem;
    }

    @include mq(lg) {
        text-align: left;

        &__inner {
            position: sticky;
            top: 4rem;
        }
    }
}
