.header {
    text-align: center;

    &__logo {
        color: $brand-brown;
    }
    &__nav {
        padding: 1rem 0;
    }

    @include mq(lg) {
        text-align: left;

        &__inner {
            position: sticky;
            top: 4rem;
        }
    }
}
