.postlist {
    max-width: 640px;
    margin-bottom: 4rem;

    > * + * {
        margin-top: 2rem;
        @include mq(lg) {
            margin-top: 4rem;
        }
    }
}

.postlistloading,
.postlistend {
    text-align: center;
    display: none;
}
