.post {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $text-color;

    &__image {
        @include coverall;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
    }
    &__imagelink {
        display: block;
        position: relative;
        height: 0;
        padding-top: 56.25%;
        border-radius: 6px 6px 0 0;
        border-bottom: 1px solid $text-color;
        background-color: $gray-lightest;
    }
    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1rem 1rem;
    }
    &__link {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 0.25rem;
        }
    }
    &__content {
        padding: 1rem;

        > *:last-child {
            margin-bottom: 0;
        }
    }
}
