.post {
    &__image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0 0;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &:hover {
            border-color: $brand-color-primary-offset;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1rem 1rem;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__content {
        padding: 1rem;

        > *:last-child {
            margin-bottom: 0;
        }
    }
}
