---
layout: page
title: Wait But Why?
description: "The web needs to take itself less seriously."
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

<p>It's barely out of its twenties and suddenly the web is all like "I can't make fansites for hippos anymore, I have businesses to run".</p>
<p>It used to be cooler. It used to be <span style="font-family: 'Comic Sans MS', cursive; font-weight: 700; letter-spacing: 2px;">weirder</span>.</p>

<p>As Sarah Drasner puts it in <a href="https://css-tricks.com/in-defense-of-a-fussy-website/">"In Defense of a Fussy Website"</a>:

<blockquote>
    <p><q>While we’re all laser-focused on shipping the newest feature with the hottest software and the best Lighthouse scores, I’ve been missing a bit of the joy on the web.
    Apps are currently conveying little care for UX, guidance, richness, and — well, for humans trying to communicate through a computer, we’re certainly bending a lot to… the computer.</q></p>
</blockquote>

<p>So this site is meant to showcase how a more personal web could look like, and hopefully give you some inspiration to make your own corner of the web a bit weirder.</p>
<p><em>[a thing by <a href="https://mxb.dev">@mxbck</a>]</em></p>

