---
layout: page
title: Welcome, Friend!
description: "Have you made the web a bit more fun lately or know someone who did? Then join the club!"
permalink: /join/
eleventyNavigation:
  key: Submit a Site!
  order: 1
---

<p>See the <a href="{{ meta.repo }}">instructions on Github</a> to add your favorite bit of whimsy to this list. Alternatively, you can use this form to submit a site and I'll have a look at it.</p>

{% include "submitform.njk" %}