---
layout: page
title: Welcome, Friend!
description: "Have you made the web a bit more fun lately?<br />Then join the club!"
permalink: /join/
eleventyNavigation:
  key: Join The Club!
  order: 1
---

<p>See the <a href="{{ meta.repo }}">instructions on Github</a> to add your personal bit of whimsy to this list. Alternatively, you can use this form to submit your site and I'll have a look at it.</p>

{% include "submitform.njk" %}