---
layout: page
title: Cool, Thanks!
description: "Thanks for submitting that site. I'll have a look soon!"
permalink: /join/submitted/
---

<p>In the meantime, how about pressing this random button to celebrate?</p>
<button class="btn btn--primary js-confetti-cannon u-mr2">OK, Sure</button>
<a href="https://www.microsoft.com/en-us/microsoft-365/excel" class="btn btn--link u-pl0 u-pr0">I don't have time for this nonsense</a>

<audio src="/assets/audio/whistle.mp3" class="js-confetti-whistle" preload="auto" hidden></audio>