---
layout: page
title: Websites that spark joy.
description: "A curated list of sites with a bit extra fun."
pagination:
  data: collections.posts
  size: 15
  alias: posts
---

{% if posts.length %}
    <ol class="postlist js-infinitescroll-container">
        {% for post in posts %}
            <li class="postlist__item js-infinitescroll-item">
                {% include "post.njk" %}
            </li>
        {% endfor %}
    </ol>

    {% if pagination.nextPageHref %}
        <nav class="pagination js-infinitescroll-pagination">
            <a href="{{ pagination.nextPageHref }}" class="btn btn--primary js-infinitescroll-next">older posts</a>
        </nav>
    {% endif %} 
{% else %}
    <p>No Posts yet.</p>
{% endif %}