---
layout: base
pagination:
  data: collections.posts
  size: 20
  alias: posts
---

<div class="container">
    <h1>Websites that spark joy.</h1>
    
    {% if posts.length %}
        <ol class="postlist">
            {% for post in posts | reverse %}
                <li class="postlist__item">
                    {% include "post.njk" %}
                </li>
            {% endfor %}
        </ol>

        {% if pagination.nextPageHref %}
            <nav class="pagination">
                <a href="{{ pagination.nextPageHref }}">older posts</a>
            </nav>
        {% endif %} 
    {% else %}
        <p>No Posts yet.</p>
    {% endif %}
</div>