---
layout: base
---
<article class="page">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
        {% if description %}
            <p class="page__description lead">{{ description | safe }}</p>
        {% endif %}
    </header>
    <div class="page__content markdown">
        {{ content | safe }}
    </div>
</article>